<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<div style="float:right;">
	<% if current_user %>
		<%= current_user.email %>(<%= link_to "Log out", session_url, method: 'DELETE' %>)
	<% else %>
		<%= link_to "Log in", login_url %>
	<% end %>
	<br>
</div>

<div style="float:left;">
	<%= link_to "Home", bands_url %> | 
	<%= link_to "New Account", new_user_url %>
</div>

<br>

<%= yield %>

</div>
</body>
</html>
