 <div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4><%= @cat.name %></h4></div>

    <table class="table table-condensed">
      <tr>
        <td>Name: <%= @response %></td>
        <td><%= @cat.name %></td>
      </tr>

      <tr>
        <td>Age:</td>
        <td><%= @cat.age %></td>
      </tr>

      <tr>
        <td>Fur Color:</td>
        <td><%= @cat.color %></td>
      </tr>

      <tr>
        <td>Sex:</td>
        <td><%= @cat.sex == "M" ? "Male" : "Female" %></td>
      </tr>

      <tr>
        <td>Description:</td>
        <td><%= @cat.description %></td>
      </tr>

      <tr>
        <td>Owner:</td>
        <td><%= @cat.owner.user_name %></td>
      </tr>

    </table>
  </div>

  <%= render 'layouts/requests_list', cats: [@cat] %>

  <%= link_to "Back to Index", cats_url, :class => "btn btn-primary" %>
  <%= link_to "Rent #{@cat.name}", new_cat_rental_request_url(@cat), :class => "btn btn-primary" %>
  <% if current_user && @cat.user_id == current_user.id %>
    <%= link_to "Edit", edit_cat_url(@cat), :class => "btn btn-primary" %>
    <%= link_to "Delete", cat_url(@cat), :method => :delete, :class => "btn btn-danger" %>
  <% end %>

</div>
