<% method = user.persisted? ? "PATCH" : "POST" %>
<% button_msg = user.persisted? ? "Update #{user.username}" : "Create Account" %>


<form action="<%= user_url %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input type="hidden" name="authenticity_token"
                       value="<%=form_authenticity_token%>" >

  <label for="username">Username:</label>
  <input type="text"
          id="username"
          name="user[username]"
          value="<%=user.username%>">
  <br><br>

  <label for="username">Password:</label>
  <input type="password"
          id="password"
          name="user[password]">

  <br><br>

  <button name="submit" class="btn btn-primary"><%= button_msg %></button>

</form>
