<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<%= error %><br>
	<% end %>
<% end %>

<h3>Create a New Dog</h3>

<form action="/dogs" method="POST">

  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  
  <label>Name
    <input type="text" name="dog[name]" value="<%= @dog.name %>">
  </label>

  <br>

  <label>Owner
    <input type="text" name="dog[owner]" value="<%= @dog.owner %>">
  </label>

  <br>

  <input type="submit" value="Add Dog">

</form>

<!-- <a href="/dogs">Back to dogs</a> -->
<%= button_to 'Back to Dogs', '/dogs', :get %>