<%= render '/layouts/notices' %>

<h1> Music App v1.0 </h1>
<h3>Bands</h3>
<ol>
	<% @bands.all.each do |band| %>
		<li>
			<%= link_to "#{band.name}", band_url(band) %>
			<div style='display:inline-block;'>
				<%= button_to 'edit', edit_band_url(band), method: :get %>
			</div>
			<div style='display:inline-block;'>
				<%= button_to 'delete', band_url(band), method: :delete %>
			</div>
		</li>
	<% end %>
</ol>

<%= link_to 'Create a New Band', new_band_url %>

